*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo{
    height: 300px;
    width: 300px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    outline: 5px solid white;
}