* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 480px;
  display: grid;
  place-items: end;
}

img {
  border-radius: 16px;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.text-container {
  height: max-content;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: justify;
  padding: 8px;
  grid-row: 1/2;
  grid-column: 1/2;
}
