*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    gap: 20px;
    border: 2px red solid;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#grw{
    flex-grow: 5;
}

#shr{
    flex-shrink: 5;
}

div{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 150px;
    height: 150px;
    background-color: aliceblue;
}