*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo{
    height: 300px;
    width: 300px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.logo{
    box-shadow: inset -50px 90px orangered,
    inset -130px 0px yellow, 
    inset 140px -20px green;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    outline: 5px solid white;
}