* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 200px;
}

h1 {
  padding: 18px;
  border-radius: 50px;
  font-family: Playfair Display;
  cursor: pointer;
  text-align: center;
  background-color: white;
  font-size: large;
  transition: box-shadow 300ms ease;
}

p{
  font-size: small;
}

.out:hover {
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.574),
              5px 5px 5px rgba(0, 0, 0, 0.574);
}

.in:hover {
  box-shadow:inset -5px -5px 10px rgba(0, 0, 0, 0.5),
            inset  5px 5px 10px rgba(0, 0, 0, 0.5);
}