/* Animate clip-path */
.animate .shape {
  background: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb);
  background-size: cover;
  animation: animate 4s infinite alternate;
}

@keyframes animate {
  0%{
    clip-path: circle(100% at center);
  }
  
  25%{
    clip-path: circle(25% at center);
  }

  50%{
    clip-path: circle(25% at 20px 20px);
  }

  75%{
    clip-path: circle(25% at right 50%);
  }

  100%{
    clip-path: circle(25% at bottom left);
  }

}