body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background-color: #ddd;
  background-image: url(//unsplash.it/900);
  background-size: cover;
}

.content {
  background: white;
  width: 70vw;
  padding: 3em;
  outline: 5px solid rgba(0, 0, 10, 1);
  outline-offset: -10px;
}

.title {
  margin: 0 0 .5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #ee6352;
  line-height: .8;
}