*{
    margin: 0;
    padding: 0;
}

.container{
    /* width: 400px; */
    /* border: 2px solid white; */
    /* margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px; */
    /* margin: 10px 15px; */
    /* padding: 10px 5px 15px; */
    /* border: 5px solid white; */
    /* border-style: solid;
    border-color: aliceblue;
    border-width: 5px; */
    /* margin: 10px;
    outline: 5px green solid;
    padding: 5px;
    box-sizing: border-box;
    box-sizing: content-box; */
}
h1{
    background-color: blue;
    /* margin: 20px; */
}

p{
    background-color: aqua;
    /* margin: 10px; */
}