    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #212121;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-box {
        position: relative;
        width: 30%;
    }

    input {
        outline: none;
        padding: 20px;
        background-color: #212121;
        border: 2px aqua solid;
        border-radius: 50px;
        transition: 0.3s ease;
        width: 90%;
    }

    input:hover,
    input:focus {
        box-shadow: 0px 0px 10px aqua;
    }

    input:focus+label {
        background-color: #212121;
        color: aqua;
        font-size: 12px;
        padding: 5px;
    }

    input {
        color: aliceblue;
    }

    input:focus+label {
        top: -10px;
        left: 20px;
        transition: 0.3s ease;
    }

    label {
        background-color: #212121;
        color: whitesmoke;
        position: absolute;
        font-size: 20px;
        left: 20px;
        top: 15px;
    }