* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}

/* navbar section */
.navbar {
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 1rem;
  color: #00ced1;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
}

.navbar > ul {
  display: flex;
  gap: 4rem;
  font-size: 1.2rem;
}

/* hero section css*/
.hero-section {
  height: 100vh;
  width: 97vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.heroimg {
  height: 500px;
  width: 400px;
  background: url(./images/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-mask-image: url("./images/303241.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom;

  mask-image: url("./images/303241.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: bottom;
  animation: textappear ease-in-out 1.8s both;
}

.herotxt {
  color: aquamarine;
  font-size: 46px;
  display: flex;
  width: 200px;
  justify-content: flex-end;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  animation: textappear ease-in-out 1.8s both,breath 2s ease-in-out infinite alternate;
}


@keyframes breath {
  0% {
    text-shadow: 0px 0px 0px;
  }
  100% {
    text-shadow: 0px 0px 20px aqua;
  }
}

@keyframes textappear {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(-50px) scale(1);
  }
}

.header {
  font-size: 36px;
  font-family: monospace;
  font-weight: 700;
  margin: 100px 0px;
  animation: rotate both;
  -webkit-animation-timeline: view(70% 20%);
  animation-timeline: view(70% 20%);
}

@keyframes rotate {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.autoshow {
  animation: autoshowAnimation both;
  -webkit-animation-timeline: view(70% 20%);
  animation-timeline: view(70% 20%);
}

@keyframes autoshowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.content {
  font-size: 1.2rem;
  font-weight: 700;
  color: antiquewhite;
  line-height: 1rem;
  font-family: "Courier New", Courier, monospace;
  text-indent: 100px;
  text-align: justify;
}

.s {
  margin-bottom: 20px;
}

.languages {
  padding: 20px;
  color: #000;
  width: 97vw;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
}

.one {
  background: conic-gradient(#ef0107 70%, white 60%);
}

.two {
  background: conic-gradient(#4169e1 80%, white 60%);
}

.three {
  background: conic-gradient(#008200 90%, white 60%);
}

.circle::before {
  content: "";
  color: #000;
  height: 125px;
  width: 125px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8%;
  left: 8%;
}

.one::before {
  content: "70%";
}

.two::before {
  content: "80%";
}

.three::before {
  content: "90%";
}

.fa-solid {
  color: #00ced1;
}

.fa-brands {
  color: #000000;
}

/* footer section */
.footer {
  height: 250px;
  width: 100%;
  padding-bottom: 2rem;
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: self-end;
  background: white;

  -webkit-mask-image : url(images/wave.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  
  mask-image: url(images/wave.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
}
