* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
/* navbar section */
.navbar {
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 1rem;
  color: #00ced1;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
}

.navbar > ul {
  display: flex;
  gap: 4rem;
  font-size: 1.2rem;
}

/* hero section css*/
.hero-section {
  height: 100vh;
  width: 97vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.heroimg {
  height: 500px;
  width: 400px;
  background: url(./images/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-mask-image: url("./images/303241.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom;

  mask-image: url("./images/303241.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: bottom;
}

.herotxt {
  color: aquamarine;
  font-size: 46px;
  display: flex;
  width: 200px;
  justify-content: flex-end;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

.content {
  font-size: 1.2rem;
  font-weight: 700;
  color: antiquewhite;
  line-height: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  text-indent: 100px;
  text-align: justify;
}

.fa-solid{
  color:#00ced1;
}

.fa-brands{
  color: #000000;
}

/* footer section */
.footer {
  margin-top: 8rem;
  height: 8rem;
  width: 100%;
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}
